<html>
<head>

    <link rel="stylesheet"
          href="./css/form.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->










        <link rel='stylesheet' href='/stylesheets/App.css' />




</head>

</head>
<body>





<form class="form-horizontal" action="/formsubmission" method="post" enctype="application/x-www-form-urlencoded">
    <div class="container">
        <div class="row">
            <legend id="su">Submit your information</legend>
            <div class="col-lg-6">
                <div>
                    <label id="floor_to_ceiling_heightt"for="floor_to_ceiling_height">Floor-Ceiling Height</label>
                    <input id="floor_to_ceiling_height" name="floor_to_celing_height" type="text" placeholder="Height">
                </div>
                <div>
                    <label id="natural_grade_of_floorr" for="natural_grade_of_floor">Natural Grade of Floor</label>
                    <input id="natural_grade_of_floor" type="text"name="natural_grade_of_floor" placeholder="Grade">
                </div>
                <div>
                    <label id="opening_heightt"for="opening_height">Opening height</label>
                    <input id="opening_height" type="text"name="opening_height" placeholder="Height">
                </div>
                <div>
                    <label id="opening_widthh"for="opening_width">Opening Width</label>
                    <input id="opening_width" type="text"name="opening_width" placeholder="Width">
                </div>
                <div>
                    <label id="opening_areaa" for="opening_area">Opening Area</label>
                    <input id="opening_area" type="text" name="opening_area" placeholder="Area">

                </div>

                <div>
                    <label id="area_of_window_welll"for="area_of_window_well">Area of Window</label>
                    <input id="area_of_window_well" type="text" name="area_of_window_well"placeholder="Area">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div>
                    <label id ="outdoor_emergency_exitt"for="outdoor_emergency_exit">OutDoor Emergency Exit</label>
                    <select name="outdoor_emergency_exit">
                        <option value="true">True</option>
                        <option value="false">False</option>

                    </select>
                </div>
                <div>
                    <label id="bottom_of_clear_openingg"for="bottom_of_clear_opening">Bottom of Clear opening</label>
                    <input id="bottom_of_clear_opening" type="text" name="bottom_of_clear_opening" placeholder="Value">
                </div>
                <div>
                    <label id="distance_between_landingg"for="distance_between_landing">Distance Between Landing</label>
                    <input id="distance_between_landing" type="text" name="distance_between_landing"placeholder="Distance">
                </div>
                <div>
                    <label id="area_of_landingg"for="area_of_landing">Area of Landing</label>
                    <input id="area_of_landing" type="text"name="area_of_landing" placeholder="Area">
                </div>
                <div>
                    <label id="drainage_system_presentt"for="drainage_system_present">Drainage System Present</label>
                    <select id="drainage_system_present"name="drainage_system_present">
                        <option value="truee">True</option>
                        <option value="falsee">False</option>

                    </select>
                </div>
                <div>
                    <label id="window_cover_singnagee"for="window_cover_signage">Window Cover Signage</label>
                    <select name="window_cover_signage">
                        <option value="trueee">True</option>
                        <option value="falseee">False</option>

                    </select>
                </div>


            </div>

        </div>



            <input id="submit"type="submit">
    </div>
</form>


</body>

</html>