<html>
<head>
    <title>Register</title>
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/signup.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">


        <form class="form-horizontal" action="/afterRegister" method="POST" enctype="application/x-www-form-urlencoded">
            <fieldset>

                <legend id="reg">Register Here</legend>


                <div class="form-group">
                    <label id="l1"class="col-md-4 control-label" for="textinput">First Name</label>
                    <div class="col-md-4">
                        <input id="textinput" name="firstname" placeholder="Insert your First Name" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>


                <div class="form-group">
                    <label id="l1"class="col-md-4 control-label" for="textinput">Last Name</label>
                    <div class="col-md-4">
                        <input id="textinput" name="lastname" placeholder="Insert your Last Name" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>


                <div class="form-group">
                    <label id="l1"class="col-md-4 control-label" for="textinput">Email</label>
                    <div class="col-md-4">
                        <input id="textinput" name="email" placeholder="Insert your Email" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>


                <div class="form-group">
                    <label id="l1"class="col-md-4 control-label" for="textinput">Password</label>
                    <div class="col-md-4">
                        <input id="textinput" type="password" name="password" placeholder="Insert your Password" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>


                <div class="form-group">
                    <label id="l1"class="col-md-4 control-label" for="textinput">Confirm Password</label>
                    <div class="col-md-4">
                        <input id="textinput" type="password" name="confirm_password" placeholder="Confirm your Password" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>


                <div class="form-group">
                    <label id="l1"class="col-md-4 control-label" for="singlebutton"> </label>
                    <div class="col-md-4">
                        <button type="submit"  class="btn btn-primary">Create Account</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>
</body>
</html>