
body{
    background:url("https://images.unsplash.com/photo-1500044310713-e075afe88ca7?auto=format&fit=crop&w=800&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    background-position: center;
}


.container .row .form-horizontal .submit{
    color:red;
}
#floor_to_ceiling_heightt{
    color: gold;
}
#su{
    color:red;
}
#floor_to_ceiling_height{
    margin-left: 48px;
}
#natural_grade_of_floorr{
    color:gold;
}

#natural_grade_of_floor{
    margin-left: 30px;
}
#opening_area{
    margin-left: 85px;
}
#opening_areaa{
    color:gold;
}
#opening_width{
    margin-left: 77px;
}
#opening_widthh{
    color:gold;
}
#area_of_window_well{
    margin-left: 70px;
}
#outdoor_emergency_exitt{
    color:gold;
}
#outdoor_emergency_exit{
    margin-left: 30px;
}
#bottom_of_clear_openingg{
    color:gold;
}
#bottom_of_clear_opening{
    margin-left: 10px;
}

#area_of_landingg{
    color:gold;
}
#area_of_landing{
    margin-left: 70px;
}
#window_cover_singnage{
    margin-left: 30px;
}
.form-horizontal{
    margin-left: 35%;
    margin-top: 5%
}
#submit{
    background-color: #51d8ad;
}
#window_cover_singnagee{
    color:gold;
}
#opening_height{
    margin-left: 76px;
}
#opening_heightt{
    color:gold;
}
#area_of_window_welll{
    color:gold;
}
#distance_between_landingg{
    color:gold;
}
#drainage_system_presentt{
    color:gold;
}
