body{
    background: url("../img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}
.container-fluid .loginscreen{

    padding: inherit;
    width: 30%;
    margin: 76px;
}
#panel1{
    background-color:transparent;
    color: maroon;
    font-size: xx-large

}
#panel{
    background-color: transparent;
    font-size: x-large;
    border: transparent;
    border-bottom: transparent;
}
#panel2{

}
#usernamefield{
    color:aliceblue;
}
#demo{
    color:red;
}