/* Styling for user page */

/*--------------------------------------------------------------
# User Section
--------------------------------------------------------------*/
#user-section {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center fixed;
  background-size: cover;
}

#user-section .user-container {
  background: rgba(0, 0, 0, 0.75);
  display: table-cell;
  margin: 0;
  padding: 80px 20px 10px 20px;
  text-align: left;
}

#user-section hr {
  border: 1px solid #fff;
}

#user-section p, #user-section span {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#user-section .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#user-section .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

#user-section table.appTable {
  width: 100%;
  border: 1px solid #fff;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

table.appTable tr.trSelectable {
  transition: 0.25s;
}

table.appTable tr.trSelectable:hover {
  background: #2dc997;
  /*border: 1px solid #2dc997;*/
  cursor: pointer;
}

table.appTable tr th, .appTable tr td {
  border: 1px solid #fff;
  border-collapse: collapse;
  padding: 5px 8px;
}

table.appTable tbody,
table.appTable thead { display: block; }

table.appTable tbody {
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.appTable tbody td:last-child {
    border-right: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 19px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 8px;
  background-color: #999;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

::-moz-scrollbar {
  -moz-appearance: none;
  width: 19px;
  background-color: #fff;
}
::-moz-scrollbar-thumb {
  margin: 2px;
  border-radius: 8px;
  background-color: #999;
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

/*--------------------------------------------------------------
# Admin Section
--------------------------------------------------------------*/

#adminContainer {
  width: 100%;
  overflow: hidden;
}
#adminLeftDiv {
  width: 100%;
  float: left;
  height: 500px;
  padding: 0px 0px 0px 0px;
}
/*#adminCenterDiv {
  width: 30%;
  border: 2px solid blue;
  float: left;
  height: 500px;
  padding: 0px 5px 0px 5px;
}*/
#adminRightDiv {
  width: 0%;
  float: left;
  height: 500px;
  padding: 0px 0px 0px 0px;
}

#adminSummaryTable {
  width: 100%;
  border: 1px solid #fff;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  font-size: 8pt;
  color: #fff;
}

#adminSummaryTable tr th, #adminSummaryTable tr td {
  border: 1px solid #fff;
  border-collapse: collapse;
  padding: 3px 5px;
}

#adminSummaryTable tbody {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#adminSummaryTable tr td.adminTblColId { width: 8%; }
#adminSummaryTable tr td.adminTblColUser { width: 15%; }
#adminSummaryTable tr td.adminTblColDate { width: 10%; }
#adminSummaryTable tr td.adminTblColPrediction { width: 10%; }
#adminSummaryTable tr td.adminTblColStatus { width: 10%; }
#adminSummaryTable tr td.adminTblColComment {
  width: 47%;
  position: relative;
}

#adminSummaryTable textarea {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 2px;
  width: 98%;
  height: 90%;
  position: absolute;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2dc997;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #2dc997;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #2dc997;
}

#mobile-nav ul .menu-item-active {
  color: #2dc997;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}